.carousel {
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.number {
    height: 380px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: crimson;
    color: white;
    font-size: 48px;
    font-family: monospace;
}